{% load static %}
{% load m_in %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contracts</title>
    <link rel="stylesheet" href='{% static "css/touchup.css" %}' type="text/css">
    <link rel="stylesheet" href='{% static "css/bulma.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/flatpickr.min.css" %}'>
    <script type="text/javascript" src='{% static "js/flatpickr.js" %}'></script>
    <script type="text/javascript" src='{% static "js/touchup.js" %}'></script>

</head>
<body>
<section class="section">
    <div class="columns">

        <div class="column is-narrow is-center is-offset-one-quarter">

            {% if form.instance and form.instance.pk %}

                <form method="post" action="{% url 'contracts_update' form.instance.pk %}">

            {% else %}

            <form method="post" action="{% url 'contracts_create' %}">

            {% endif %}
                {% csrf_token %}
                {% for field in form %}
                    <div class="control">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {% if field.label|in_list:"Section,Company,Contract manager" %}
                            <br>
                            <div class="select">{{ field }}</div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    <br>
                {% endfor %}
                <div class="field is-grouped is-grouped-centered">
                    <input class="button is-primary" type="submit" value="Submit">
                </div>
            </form>

        </div>
    </div>
</section>
</body>
</html>